/* CSS file for the HappyFace module: CMSPhedexAgents */

.AgentsTable,.AgentsTableDetails {
	border: solid 1px #999;
	width: 800px;
}

.AgentsTable td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.AgentsTableDetails td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.AgentsDetailedInfo {
	font-family: monospace;
	line-height: 14px;
}
