/*CSS file for the HappyFace module: CMSPhedexLinks */
.CMSPhedexLinksTable,.CMSPhedexLinksTableDetails {
        border: solid 1px #999;
        width: 800px;
}

.CMSPhedexLinksTable td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.CMSPhedexLinksTableDetails td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.CMSPhedexLinksDetailedInfo { 
	font-family: monospace;
	line-height: 14px;
}


tr.success {
	background-color:  \#AAFFAA;
}
tr.warning {
	background-color:  \#FFAA46;
}
tr.critical {
	background-color:  \#FF6464;
}
tr.undef {
	background-color:  \#C0C0C0;
}
