/*CSS file for the HappyFace module: CMSSiteReadiness */
.CMSSiteReadinessTable,.CMSSiteReadinessTableDetails {
        border: solid 1px #999;
        width: 800px;
}

.CMSSiteReadinessTable td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.CMSSiteReadinessTableDetails td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.CMSSiteReadinessDetailedInfo { 
	font-family: monospace;
	line-height: 14px;
}


td.up {
	background-color:  #AAFFAA;
}
td.warning {
	background-color:  #FFFF96;
}
td.critical {
	background-color:  #FF6464;
}
td.weekend {
	background-color:  #D2D2D2;
}
td.undef {
	background-color:  #C0C0C0;
}
