/*CSS file for the HappyFace module: CMSSiteReadiness */
.CMSSiteReadinessTable,.CMSSiteReadinessTableDetails {
        border: solid 1px #999;
        width: 800px;
}

.CMSSiteReadinessTable td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.CMSSiteReadinessTableDetails td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.CMSSiteReadinessDetailedInfo { 
	font-family: monospace;
	line-height: 14px;
}

td.CMSSiteReadinessWeekend {
	background-color:  #D2D2D2;
}

/* Not yet used, as the code does not yet make a differentiation between
 * undefined and weekday: */
td.CMSSiteReadinessWeekday {
	background-color:  #C0C0C0;
}
