/*CSS file for the HappyFace module: CMSSiteReadiness */

td.CMSSiteReadinessWeekend {
	background-color:  #D2D2D2;
}

/* Not yet used, as the code does not yet make a differentiation between
 * undefined and weekday: */
td.CMSSiteReadinessWeekday {
	background-color:  #C0C0C0;
}

a.CMSSiteReadinessLink:link {
	color: #000000;
	text-decoration : none;
}

a.CMSSiteReadinessLink:hover {
	color: #008040;
	text-decoration : none;
}
