/* CSS file for the HappyFace module: dcache_datarestore_lazy */

.dCacheDatarestoreLazyFirstCol {
	width:65%;
}

table.dCacheDatarestoreLazyTableDetails {
	empty-cells: show;
}

table.dCacheDatarestoreLazyTableDetails td.dCacheDatarestoreLazyRowSeparator {
	border: 3px solid #666;
	padding: 0;
}
