.RSSFeedEntry
{
	background-color: #DDDDDD;
	border: 1px solid black;
	padding: 0 1em 0 1em;
	margin: 0 0 2em 0;
}

.RSSFeedEntryTitle
{
	font-size: medium;
	text-decoration: none;
	font-weight: bold;
}

.RSSFeedEntryDate
{
	font-size: small;
}
