/* CSS file for the HappyFace module: Sam */

.SamTable,.SamTableDetails {
	border: solid 1px #999;
	width: 800px;
}

.SamTable td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.SamTableDetails td {
	padding: 5px;
	border: solid 1px #999;
	text-align: left;
}

.SamDetailedInfo {
	font-family: monospace;
	line-height: 14px;
}



tr.success {
	background-color:  #AAFFAA;
}

tr.warning {
	background-color:  #FFAA46;
}

tr.fail {
	background-color: #FF6464;
}