/* CSS file for the HappyFace module: Uschi */

.UschiTableHeader {
	text-align: center;
	width: 80%;
	font-variant: small-caps;
}

.UschiTableInfo {
	font-style: oblique;
}

table.UschiSubTable {
    border: none;
    width: 100%;
}

/* need to specify parent table explicitely, otherwise .TableData td { }
 * (defined in ModuleBase.css) is overwriting these attributes. */
table.UschiSubTable td.UschiSubTableHeaderLeft {
	padding: 0px;
	border: none;
	text-align: left;
	width: 70%;
	font-style: normal;
}

table.UschiSubTable td.UschiSubTableHeaderRight {
	padding: 0px;
	border: none;
	font-weight: bold;
	text-align: right;
	color: #FF9900;
	width: 30%;
	font-style: normal;
}
