a {
	text-decoration:none;
	color:#464646;
}

/*
the scrollbar of the navigator is on the right side. I have found no way
to move it to the left side, nor to change its width or color. Maybe there
is a way later. 
*/

.nav {
	position: fixed;
	z-index: 5;
	top: 155px;
	left: 8px;
	width:250px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 70%;
	font: bold 0.7em sans-serif;
}

.nav ul {
	list-style:none;
	margin:0;
	padding:0;
	overflow-x: hidden;
}
 
.nav li {
	margin:0px;
	padding:0px;
}

.nav a:link,
.nav a:visited {
	display:block;
	margin:0px;
	padding:1.0em;
       	text-decoration: none;
	background-color:#696969;
	color:#f8f8ff;
}

.nav a:hover {
	background-color:#a9a9a9;
}

.nav_entry {
	vertical-align:middle;
	width:240px;
	border-left: 5px solid #696969;
	border-collapse:collapse;
	background-color:#696969;
}

/* div with the navbar icons */
.imgdiv {
	width:32px;
	height:32px; 
	border:0px;
	right: 0px;
}

/* div with the hide FastNav button */
.topdiv {
	margin:0px;
	margin-left:10px;
	margin-right:0.8em;
}

.topdiv a:link,
.topdiv a:visited {
	display:block;
	margin:0px;
	padding:0.2em;
       	text-decoration: none;
	background-color:#696969;
	color:#f8f8ff;
}
