[setup]

mod_title	=       Site Readiness for T2_DE_DESY
mod_type	=	rated
weight		=	1.0
definition	=	reads in the site readiness status from http://lhcweb.pic.es/cms/SiteReadinessReports/SiteReadinessReport.html
instruction	=

base_url	=	http://lhcweb.pic.es/cms/SiteReadinessReports/SiteReadinessReport.html

fileextension	=	html

site            =       T2_DE_DESY

## number of days backwards that will be 
## considered in status determination
## and display. Maximum is 15.
days            =       10

## define critical and warning condition
## syntax is condition = x:y
## --> warning/critical status appears,
## if in the last x days are y warnings/criticals
## y cannot be greater than x
## x cannot be greater than days
critical        =       3:2
warning         =       3:2      

[phpArgs]

