/* With courtesy of Dominik Pschenitschni */

/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ mit eigenen Änderungen */
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}
:focus, :hover, :active { outline:0; }
body {
    font:12px/22px "HelveticaNeue-Light", Helvetica, Arial, Verdana, sans-serif;
    text-align:center; /*zwingt den IE zur mittigen Positionierung...*/
    font-weight:normal;
    color:#333;
    background:#ddd;
}

#content {
    width: 960px;
    background: #fefefe;
    border-left: 1px solid #fff;
    border-left: 1px solid #fff;
    margin: 0 auto;
}


a         { color:#1369bf; text-decoration:none; outline:0; }
a:visited { color:#5f9ddb; }
a:focus   { color:#1369bf; border:none; }
a:hover   { color:#1369bf; text-decoration:underline; }
a:active  { color:#333   ; }

h1           { color:#333   ; font-size:28px; line-height:36px; padding-top:15px; margin-bottom:15px; }
h2           { color:#333   ; border-bottom:2px solid #eee; font-size:20px; line-height:26px; padding-top:10px; margin-bottom:10px; }
h2 a         { color:#33a; }

form { display: block; }

p { display: block; margin-bottom: 15px}

.hidden { display: none }

input,select { height: 20px; border: 1px solid #888; background-color: #eee; text-align: left; margin-bottom: 5px}
select { background-color: #aaa; text-align: right }
select option { padding-top: 2px; padding-right: 5px; padding-left: 5px; margin-left: 0px !important;}

fieldset.floating {
    border: 1px solid #bbb;
    float: left;
    text-align: right;
    position: relative;
    padding: 5px;
    margin: 0px 0px 5px 5px;
}
fieldset.floating p { margin-bottom: 0px }
fieldset.floating label *:nth-child(2) { position:static; margin-left: 80px; }
fieldset.floating label span { position:absolute; left: 10px; margin-left:0px }
fieldset.floating + p {
    clear: both;
}

#curve {
}

.button_box {
    display: block;
    text-align: right;
    margin-right: 20px;
    padding-right: 5px
}
.button_box a {
    padding: 5px;
    color: #000;
    border: 1px solid #888;
    background-color: #eee;
    text-decoration: none; 
}
.button_box a:hover  { background-color: #f9f9f9 }
.button_box a:active { background-color: #dedede }

.button_box a.add           { background-color: #2f2 }
.button_box a:hover.add     { background-color: #5f5 }
.button_box a:active.add    { background-color: #1a1 }
.button_box a.remove        { background-color: #f22 }
.button_box a:hover.remove  { background-color: #f55 }
.button_box a:active.remove { background-color: #a11 }