<h3>${module.config["name"]}</h3>
<p>${module.run["time"]}</p>
% if no_data:
 <p>No data at this time.</p>
% else:
 % if len(module.dataset["error_string"]) > 0:
 <p>${module.dataset["error_string"]}</p>
 % else:
<div style="" class="module_info">
 <ul>
  <li>Module instance: ${module.instance_name}</li>
  <li>Status: ${module.dataset["status"]}</li>
  <li>Description: ${module.dataset["description"]}</li>
  <li>Instruction: ${module.dataset["instruction"]}</li>
  <li>Data source: <a href="${dataset["source_url"]}">${module.dataset["source_url"]}</a></li>
 </ul>
</div>
 ${self.content()}
 % endif
% endif